body{
    margin: 0;
    padding: 0;
    top:0px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.rightContainer{
    /* border: 1px solid black; */
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.pexels.com/photos/7130496/pexels-photo-7130496.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-repeat: no-repeat;

    /* background-image: url("../../assets/smoke.jpg"); */
    background-position: center;
    background-size:100%;
    /* align-items: center; */
    /* background-position: calc(100% - 100%) right; */

    /* border: 1px solid black; */
    height: 90vh;
    background-color:  #EFEFEF;
    width: 65vw;
}
.rightContainer p:first-child {
    color: #3b3939;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 5px;
}

.rightContainer p:nth-of-type(2) {
    color: black;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 5px;
}
.rightContainer form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  justify-content: center;
  align-items: center;
  }
  
  .field {
    margin-bottom: 20px;
  }
  
  form label {
    
      margin-top: 20px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    margin: 0;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .subjectField {
    height: 50px;
  }
  
  .submitButton {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  
  .image{
    height: 200px;
    width: 200px;
  }.socialIcons{
    /* border: 1px solid black; */
    /* padding: 17px; */
    margin-top: 33px;
    /* margin-left: 45px; */
    margin-left: 45px;
    height: 60px;
    display: flex;
    gap: 30px;
}
.icons{
    cursor: pointer;
    font-size: 3rem;
    /* transition: all 10s ease-in; */
}
.rightcontainer form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.loaderCircle {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border-top: 2px solid #2c98f0;
  border-right: 2px solid transparent;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.icons:hover {
    font-size: 4rem;
    transition: font-size 1s ease-in-out;
    margin: 0;
  }
  @media (max-width: 768px) {
    .rightContainer{
    background-image: url("https://images.pexels.com/photos/7130496/pexels-photo-7130496.jpeg?auto=compress&cs=tinysrgb&w=600");
      object-fit: fill;
      background-position: center;
      background-size:150vh;
      display: flex;
      justify-content: center;
      align-items: center;
    flex-direction: column;

      /* margin-left: 45px; */
    }
    input,
  textarea {
    width: 250px;

  }
  .socialIcons{
    margin-right: 45px;
}
  }
  @media (max-width: 480px) {
    .container{
      display: block;
      flex-direction: column;
  }
    input,
    textarea {
      width: 200px;
      /* height: 20px; */
    }
    .icons{
      cursor: pointer;
      font-size: 1rem;
      /* transition: all 10s ease-in; */
  }
  .rightContainer p:first-child {
  
    font-size: 10px;
   
}

.rightContainer p:nth-of-type(2) {
   
    font-size: 20px;
    
}

form label{
  font-size: 12px;
  /* justify-content: flex-start; */
}
  }
  @media (max-width: 430px) {
    .container{
      display: block;
      flex-direction: column;
  }
      input,
    textarea {
      width: 150px;
      /* height: 20px; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .rightContainer form {
      width: 130px;
    }
    .rightContainer{
      width: 100vw;
      height: 100vh;
  }
  }